.watchListContainer {
  width: 50%;
  position: absolute;
  max-height: 100dvh;
  min-height: 50dvh;
  /* height: auto; */
  right: -100%;
  top: 0;
  z-index: 7;
  transition: all 0.3s;
  background-color: #fff;
  padding: 20px;
  box-shadow: -10px 0px 15px #888;
  overflow: hidden;
  overflow-y: scroll;

}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
}
