form {
  width: 50%;
  padding: 20px;

  input {
    padding: 20px;
    color: #fff;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: right;
    background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    );
  }
}

input::placeholder {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-style: italic;
  letter-spacing: 1.1px;
}
