html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar1: #0a0a0a;
  --navbar2: #121212;

  --navlinks: #a6a6a6;

  --navlinkshover: #ffffff; /* use neon underline*/

  /* navicons glow colors */
  --navicon1: #ff00ff;
  --navicon2: #00ffff;

  /* alternate sections */

  --sectionodd: #101010;
  --sectioneven: #1a1a1a;

  --footercolor1: #0a0a0a; /*use a gradient for footer */

  /* button glow colors use soft glow*/

  --buttoncolor1: #00ff00;
  --buttoncolor2: #00ffff;

  /* buttons on hover use strong glow */

  --buttonhover1: #33ff33;
  --buttonhover2: #33ffff;

  --headingcolor1: #ff00ff;
  --headingcolor2: #00ffff;

  --paracolor: #c0c0c0;

  --underline1: #ff4500;
  --underline2: #ff00ff;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--sectioneven);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

/* header start */

header {
  background-color: var(--navbar1);
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*  brand container start */

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-details {
  margin-left: 20px;
}

.brand-name {
  margin: 0;
  padding: 0;
  color: #00ffff;

  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

.img-container {
  width: 100px;
  height: 100px;
  background: url("../images/brand-image.jpg") center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #00ffff;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);

  transform: transform ease-in-out 0.3s;
}

.img-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links i {
  color: #a6a6a6;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin: 4px 8px;
}

.social-links i:hover {
  color: #00ffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
}

/* end of brand container */

/* company name */

.circular_moon {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  left: -28%;
  top: -25%;

  /* filter: drop-shadow(0 0 10px #fff); */
}

@keyframes moonshadow {
  0% {
    clip-path: circle(50% at 100% 100%);
  }

  10% {
    clip-path: circle(50% at 90% 90%);
  }

  20% {
    clip-path: circle(50% at 80% 80%);
  }

  30% {
    clip-path: circle(50% at 70% 70%);
  }

  40% {
    clip-path: circle(60% at 60% 60%);
  }

  50% {
    clip-path: circle(100% at 50% 50%);
  }

  60% {
    clip-path: circle(60% at 40% 40%);
  }

  70% {
    clip-path: circle(50% at 30% 30%);
  }

  80% {
    clip-path: circle(50% at 20% 20%);
  }

  90% {
    clip-path: circle(50% at 10% 10%);
  }

  100% {
    clip-path: circle(50% at 0% 0%);
  }
}

.circular_moon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;

  clip-path: circle(50% at 0% 0%);

  animation: moonshadow 55s infinite linear;
}

.company_name {
  font-family: "Saira Stencil One", sans-serif;
  font-size: 1.5rem;
  color: #fff;

  filter: drop-shadow(0 0 10px #fff);
  filter: brightness(50);
}

.company img {
  right: -44%;
  width: 150px;
  height: 70px;
  top: 14%;
  filter: drop-shadow(0 0 10px #fff);
}

/* end of company name */

/* nav links */

.navbar-links-container {
  display: flex;
  margin-right: 20px;
}

.navlink a {
  position: relative;

  text-decoration: none;
  font-size: 18px;
  color: var(--navlinks);

  font-family: "Orbitron", sans-serif;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
}

.navlink a.active {
  color: #00ffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
}

.navlink a:hover {
  color: #ffffff;
}

.navlink a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #00ffff;
  box-shadow: 0 0 8px #00ffff;
  transition: all 0.3s ease-in-out;
}

.navlink a:hover::after {
  width: 100%;
  left: 0;
}

.moon {
  height: 50px;
  width: 50px;
  overflow: none;
  position: relative;
}

.moon::after {
  content: "";
  background-color: #fff;
}

/* end of nav links */

/* header end */

/* hero section */
.hero-section {
  height: 100vh;
  margin-top: 140px;
  background: linear-gradient(to left, var(--sectionodd) 50%, #000);
}

.hero-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  border-radius: 20px;
  /* border: double 10px var(--headingcolor1); */
  /* filter: drop-shadow(0 0 10px #fff); */
}

.hero-image-container {
  position: relative;
  width: 75%;
}

.hero-section-text {
  color: #fff;
}

.hero-name {
  font-size: 1.5rem;
}

.hero-name-description {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
  margin-bottom: 1.5rem;
  font-family: cursive !important;
}

.subheading {
  font-size: 1.3rem;
}

.build-together-text {
  font-size: 1.2rem;
  margin-top: 1.5rem;

  margin-bottom: 1.5rem;
  font-family: cursive !important;
}

.hero-name-span {
  color: var(--headingcolor2);
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  text-shadow: 0 10px 15px rgba(0, 255, 255, 0.9);
}

.cta {
  position: relative;
  width: 10rem;
  padding: 8px 10px;
  /* border-radius: 1.5rem; */
  border: double 5px var(--buttoncolor2);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0px 15px rgba(0, 255, 255, 0.8);

  font-weight: 700;

  margin-bottom: 1rem;
}

.cta:hover {
  background-color: var(--buttonhover2);
  color: #000;
  box-shadow: 0 10px 15px rgba(0, 255, 255, 1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/* tech stack start */

.tech-stack-container {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.tech-stack-heading {
  font-size: 1rem;
  color: var(--headingcolor2);
}

.tech-stack-icons {
  width: max-content;
  position: relative;
  right: 110%;

  animation: tech_stack_move 10s linear infinite;
}

@keyframes tech_stack_move {
  from {
    right: -110%;
  }

  to {
    right: 73%;
  }
}

.tech-stack-icons i {
  color: var(--buttonhover2);
  font-size: 3rem;
  filter: drop-shadow(0 5px 10px var(--buttonhover2));
  margin-right: 2rem;
  position: relative;
}
/* end of tech stack start */

/* end of hero section */

/* start of projects section */
.projects {
  background-color: var(--sectioneven);
  position: relative;
  overflow: hidden;
}

@keyframes light_up {
  0% {
    filter: drop-shadow(0px 0px 5px var(--headingcolor1))
      drop-shadow(0px 0px 8px var(--headingcolor1));
  }
  30% {
    filter: drop-shadow(0px 0px 0px var(--headingcolor1))
      drop-shadow(0px 0px 0px var(--headingcolor1));
  }

  50% {
    filter: drop-shadow(0px 0px 5px var(--headingcolor1))
      drop-shadow(0px 0px 8px var(--headingcolor1));
  }

  70% {
    filter: drop-shadow(0px 0px 2px var(--headingcolor1))
      drop-shadow(0px 0px 5px var(--headingcolor1));
  }

  100% {
    filter: drop-shadow(0px 0px 5px var(--headingcolor1))
      drop-shadow(0px 0px 8px var(--headingcolor1));
  }
}

.section-head {
  color: var(--headingcolor1);
  filter: drop-shadow(0px 0px 5px var(--headingcolor1))
    drop-shadow(0px 0px 8px var(--headingcolor1));

  animation: light_up 5s infinite ease-in-out;
}

.img-slider {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  gap: 4vmin;

  transition: transform 0.3s ease;
  cursor: grab;
}

.img-slider img {
  width: 340px;
  height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px;
  border: solid 4px var(--headingcolor1);
  /* padding: 0px; */

  box-shadow: 2px 8px 20px var(--headingcolor1);
}

/* end of projects section */

/* start of skills */
.skills {
  background-color: var(--sectionodd);
}

@keyframes light_up2 {
  0% {
    filter: drop-shadow(0px 0px 5px var(--headingcolor2))
      drop-shadow(0px 0px 8px var(--headingcolor2));
  }
  30% {
    filter: drop-shadow(0px 0px 0px var(--headingcolor2))
      drop-shadow(0px 0px 0px var(--headingcolor2));
  }

  50% {
    filter: drop-shadow(0px 0px 5px var(--headingcolor2))
      drop-shadow(0px 0px 8px var(--headingcolor2));
  }

  70% {
    filter: drop-shadow(0px 0px 2px var(--headingcolor2))
      drop-shadow(0px 0px 5px var(--headingcolor2));
  }

  100% {
    filter: drop-shadow(0px 0px 5px var(--headingcolor2))
      drop-shadow(0px 0px 8px var(--headingcolor2));
  }
}

.section-head2 {
  color: var(--headingcolor2);
  filter: drop-shadow(0px 0px 5px var(--headingcolor2))
    drop-shadow(0px 0px 8px var(--headingcolor2));

  animation: light_up2 5s infinite ease-in-out;
}

.tech-icons {
  font-size: 4rem;
  color: var(--headingcolor2);
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 0px 5px var(--headingcolor2));
}

.skil-name {
  color: var(--buttoncolor2);
}

/* end of skills */

/* contact section */

.section-head3 {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--headingcolor1) 50%,
    var(--headingcolor2) 0
  );
  background-clip: text;

  filter: drop-shadow(0px 0px 5px var(--headingcolor2))
    drop-shadow(0px 0px 8px var(--headingcolor2));

  animation: light_up2 5s infinite ease-in-out;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/contact-bg.jpg) center center no-repeat;
  background-size: cover;
}

.contact-us-text {
  color: var(--buttoncolor2);
}

.contact-form input {
  margin-bottom: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1rem;
  border: 1px solid var(--navicon2);

  color: var(--navicon2);
}

.contact input::placeholder {
  color: var(--navicon2);
  font-size: 12px;
}
.contact textarea::placeholder {
  color: var(--navicon2);
  font-size: 12px;
}

.contact-form textarea {
  margin-bottom: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1rem;
  border: 1px solid var(--navicon2);

  color: var(--navicon2);
}

.contact-form button {
  border: none;
  outline: none;
  position: relative;
  width: 10rem;
  padding: 8px 10px;

  width: 100%;

  color: #999;
  font-size: 18px;
  background-color: var(--buttoncolor2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0px 15px rgba(0, 255, 255, 0.8);

  font-weight: 700;

  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: var(--buttonhover2);
}

/* mobile menu section */

.mobile-button {
  width: 55px;
  height: 60px;
  top: 10px;
  right: 10px;
  padding: 2px;
  border: 2px solid var(--navicon2);
  box-shadow: 0 0 15px var(--navicon2);

  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
  display: none;
}

.line {
  width: 80%;
  height: 3px;
  background-color: var(--navicon2);
}

.mobile-menu {
  z-index: 99;
  height: 100vh;
  width: 100%;
  background-color: var(--navbar2);
  left: -100%;
}

.mobile-menu-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
}

.mobile-menu-links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--navicon2);
  font-family: "Orbitron", sans-serif;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
}

/* end mobile menu section */

/* end of contact section */

/**********************  ***********************/
/************* RESPONSIVE QUERIES **********/
/**********************  ***********************/

@media (max-width: 992px) {
  .navbar-links-container {
    display: none;
  }

  .brand {
    display: none;
  }

  nav {
    justify-content: center;
    align-items: center;
  }

  .mobile-button {
    display: flex;
  }

  .hero-section {
    margin-top: 76px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
  }
}
