* {
  margin: 0;
  padding: 0;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #000;
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 10px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 0px;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

.user-info-container {
  position: fixed;
  right: 20%;
  top: 200px;
  height: 300px;
  width: 40%;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #000;
}

.user-info-container2 {
  position: fixed;
  right: 10%;
  top: 300px;
  height: 300px;
  width: 40%;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #000;
}

.active {
  border: 2px red solid;
  background-color: #b1b1b1;
}
